
    <!--footer starts-->




    <footer class="footer-sec">
        <div class="footer-content">
            <div class="footer-item">
                <a href="/" class="footer-logo">TaskFeri</a>
                <span class="footer-description"><br>Freelancing platform</span>
                <div>
                    <a href="#" class="footer-social"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="footer-social"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="footer-social"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="footer-item">
                <h3 class="footer-title">Services</h3>
                <ul>
                    <li><a href="#" class="footer-link">Categories</a></li>
                    <li><a href="#" class="footer-link">Gigs</a></li>
                    <li><a href="#" class="footer-link">Membership</a></li>
                    <li><a href="#" class="footer-link">Top customers</a></li>
                </ul>
            </div>

            <div class="footer-item">
                <h3 class="footer-title">Information</h3>
                <ul>
                    <li><a href="#" class="footer-link">Event</a></li>
                    <li><a href="#" class="footer-link">Contact us</a></li>
                    <li><a href="#" class="footer-link">Privacy policy</a></li>
                    <li><a href="#" class="footer-link">Terms of services</a></li>
                </ul>
            </div>

            <div class="footer-item">
                <h3 class="footer-title">Adress</h3>
                <ul>
                    <li>22 - Pallabi</li>
                    <li>Mirpur-12, Dhaka-1216</li>
                    <li>+8801903833121</li>
                    <li>contact@taskferi.com</li>
                </ul>
            </div>
        </div>

        <p class="footer-lic">&#169; 2020 TaskFeri. All right reserved</p>
    </footer>









    <!--footer ends-->










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

<script type="text/javascript">


$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        650:{
            items:2,
            nav:false
        },
        1100:{
            items:3,
            nav:false
        },
        1400:{
            items:4,
            nav:false
        },
        1600:{
            items:5,
            nav:true,
            loop:false
        }
    }
})

</script>




</body>
</html>
