<%-include('partials/header'); -%>

    <!--banner container starts-->

    <div class="banner-container">
        <div class="banner-content">
            <div class="banner-moto">
                <p class="moto1">Any task, on you demand</p>
                <p class="moto2">Any time, as you wish</p>

                <button class="banner-button">
                    Be a member
                </button>
            </div>

            <div class="banner-poster">
                <img src="/banner.png" alt="" class="front-banner">
            </div>
        </div>

    </div>

    <!--banner end-->



    <!--introduction start-->



    <div class="intro-container">
        <div class="intro-heading">

            <p>What is Taskferi?</p>
        </div>

        <div class="intro-content">
            <div>
                <img class="banner2-image" src="/banner2.png" alt="">
            </div>

            <div>
                <p class="intro-words">TaskFeri is an online platform for freelancing. It is not a typical freelancing website,
                    it is pretty much different and suitable for Asian country like Bangladesh. Here you
                    can post your own gigs based on your skills and abilities. These skills and abilities
                    are not bound to digital things, you can freelance with your physical or daily life skill.
                    Buyers who need the task to be done will contact with you through the gig. In TaskFeri
                     you are the buyer by default and you can be a seller or freelancer anytime you want.
                    We think TaskFeri is the platform by which unemployment can be almost erased and
                    we can become efficient as human being.</p>



            </div>
        </div>
    </div>


    <!--introduction ends-->





    <!--how it works start-->



        <div class="process-container">

            <div class="process-heading">
                <p>How it works?</p>
            </div>

            <div class="process-content">

                <div class="process-item">


                    <img src="/p1.png" alt="">
                    <h5>Be A Member</h5>
                    <p>Sign Up to Empleo,
                        make your profile and
                        fill every important data.</p>


                </div>




                <div class="process-item">
                    <img src="/p2.png" alt="">
                    <h5>Find Gigs</h5>
                    <p>Gigs are the whole job
                        description. You can find
                        other’s job and hire them
                        by their gigs. </p>

                </div>




                <div class="process-item">
                    <img src="/p3.png" alt="">
                    <h5>Make Your Gig</h5>
                    <p>You can also offer your
                        service by making your
                        own gig. It will appear in
                        “Find Gigs” Page to all.</p>

                </div>




                <div class="process-item">
                    <img src="/p4.png" alt="">
                    <h5>Contact &
                        Process Work</h5>
                    <p>After finding your needed
                        gig or a customer of your gig,
                        contact with him/her, discuss
                        the work and process it.</p>

                </div>




                <div class="process-item">
                    <img src="/p5.png" alt="">
                    <h5>Payment</h5>
                    <p>When the work is done it
                        will be checked by empleo
                        and the buyer. After the
                        confirmation of job done,
                        payment will be given.</p>

                </div>


            </div>
        </div>







    <!--how it works ends-->







    <!--category start-->







    <div class="task-container">

        <div class="task-category-heading">
            <p>Some Popular Category</p>
        </div>
        <div class="task-content">
        <div class="owl-carousel owl-theme">

            <div class="task-item">


                <img src="/ctgr1.png" alt="">
                <p>Sales Executive</p>



            </div>




            <div class="task-item">
                <img src="/ctgr2.png" alt="">
                <p>Household Worker</p>


            </div>




            <div class="task-item">
                <img src="/ctgr3.png" alt="">
                <p>Driver</p>


            </div>




            <div class="task-item">
                <img src="/ctgr4.png" alt="">
                <p>Chef</p>


            </div>




            <div class="task-item">
                <img src="/ctgr5.png" alt="">
                <p>Labourer</p>


            </div>


            <div class="task-item">
                <img src="/ctgr6.png" alt="">
                <p>Tutor</p>


            </div>


            <div class="task-item">
                <img src="/ctgr7.png" alt="">
                <p>Electrician</p>


            </div>


            <div class="task-item">
                <img src="/ctgr8.png" alt="">
                <p>Word, Excel, PPT Expert</p>


            </div>


            <div class="task-item">
                <img src="/ctgr9.png" alt="">
                <p>Computer Hardware Expert</p>


            </div>


            <div class="task-item">
                <img src="/ctgr10.png" alt="">
                <p>Fitness Trainer</p>


            </div>



        </div>
        </div>
    </div>










    <!--category ends-->





        <!--membership starts-->

        <div class="membership-container">

            <div class="membership-heading">
                <p>Membership offers for you</p>
            </div>

            <div class="membership-content">

                <div class="membership-item">


                    <img src="/membership1.png" alt="" class="p1">
                    <h5>Basic</h5>
                    <p><i class='bx bxs-chevron-right-circle'></i>Full Free<br>
                        <i class='bx bxs-chevron-right-circle'></i>Unlimited Gig Sell<br>
                        <i class='bx bxs-chevron-right-circle'></i>Unlimited Gig Purchase<br>
                        <i class='bx bxs-chevron-right-circle'></i>3 Maximum Gigs To Make<br>
                        <i class='bx bxs-chevron-right-circle'></i>30% Charge Per Contract</p>
                    <button class="buy">Purchase</button>

                </div>




                <div class="membership-item">
                    <img src="/membership2.png" alt="">
                    <h5>Expert</h5>
                    <p><i class='bx bxs-chevron-right-circle'></i>2000 Taka/Month<br>
                        <i class='bx bxs-chevron-right-circle'></i>Unlimited Gig Sell<br>
                        <i class='bx bxs-chevron-right-circle'></i>Unlimited Gig Purchase<br>
                        <i class='bx bxs-chevron-right-circle'></i>8 Maximum Gigs To Make<br>
                        <i class='bx bxs-chevron-right-circle'></i>20% Charge Per Contract</p>
                    <button class="buy">Purchase</button>

                </div>




                <div class="membership-item">
                    <img src="/membership3.png" alt="">
                    <h5>Enterprise</h5>
                    <p><i class='bx bxs-chevron-right-circle'></i>10000 Taka/Month<br>
                        <i class='bx bxs-chevron-right-circle'></i>Unlimited Gig Sell<br>
                        <i class='bx bxs-chevron-right-circle'></i>Unlimited Gig Purchase<br>
                        <i class='bx bxs-chevron-right-circle'></i>20 Maximum Gigs To Make<br>
                        <i class='bx bxs-chevron-right-circle'></i>15% Charge Per Contract</p>

                    <button class="buy">Purchase</button>

                </div>

            </div>
        </div>


        <!--membership ends-->





        <!--partner starts-->



        <div class="partners-container">

            <div class="partners-heading">
                <p>Our payment partners</p>
            </div>

            <div class="partners-content">
                <div class="partner-item">
                    <img src="/prtnr1.png" alt="">
                </div>

                <div class="partner-item">
                    <img src="/prtnr2.png" alt="">
                </div>

                <div class="partner-item">
                    <img src="/prtnr3.png" alt="">
                </div>
            </div>


        </div>




        <!--partner ends-->



        <%-include('partials/footer'); -%>
